<style>
    #gradient-chart-area {
        stop-color: #169CD4;
    }

    #gradient-chart-area stop {
        stop-color: rgb(22, 156, 212);
    }

    #gradient-chart-area stop[offset="0"] {
        stop-opacity: 0.75;
        stop-color: #169CD4;
    }

    #gradient-chart-area stop[offset="1"] {
        stop-opacity: 0;
        stop-color: #169CD4;
    }
</style>
<div *ngIf="da" style=" height: 100%; padding:5px;width: 100%;">
    <div class="control-section " style="height: 100%">
        <div align='center' style="width: 100%;height: 100%">
            <ejs-chart #chartAre='' style='display:block;width: 99%; height: 98%;' [tooltip]='tooltip'
                [chartArea]='chartArea' [width]='width' align='center' [primaryXAxis]='primaryXAxis'
                [legendSettings]='legend' [zoomSettings]='zoomSettings' [primaryYAxis]='primaryYAxis'
                (load)='load($event)'>
                <e-series-collection>
                    <e-series [dataSource]='series1' [type]='chartType' xName='x' yName='y' [animation]='animation'
                        fill='url(#gradient-chart-area)' [border]='border'>
                    </e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>
    <svg>
        <defs>
            <linearGradient id="gradient-chart-area" x1="0" x2="0" y1="0" y2="1" style="background-color: #169CD4;">
                <stop offset="0" />
                <stop offset="1" />
            </linearGradient>
        </defs>
    </svg>
</div>
<div *ngIf="!da" class="noRecordFoundparentDiv" style="align-content: center;display: flex;">
    <span style="padding:10px;">
        <img src="/assets/img/dashboard/empty.png" height="22px" width="22px" alt="image missing">
    </span>
    <!-- <span style="font-size:18px;">No Records Found</span> -->
    <h3 i18n="@@Norecordsfound" class="text-center noRecordsFound">
        No records found!
    </h3>
</div>