<div class="container mat-elevation-z8 panel panel-inverse mb-0"
    style="position: relative;border:0.5px solid #cccccc;background-color: #fff;">
    <app-panel-user class="panel-header" name="Rack Monitoring">
        <div class="row m-0 rack-dashboard_container" style=" padding: 10px 0px 7px">
            <div class="col-md-3">
                <div style="border:0.5px solid #000000;">

                    <app-rack-tree-view> </app-rack-tree-view>

                </div>
            </div>
            <div class="col-md-9 rackMonitor pl-0">
                <app-rack-inner-container> </app-rack-inner-container>
            </div>
        </div>
    </app-panel-user>
</div>