:host ::ng-deep .rack-dashboard_container{
    height: calc(108vh - 120px);
}

:host ::ng-deep .rack-dashboard_container .ps__rail-y{
    left: auto!important;
    right: 0px!important;
} 
.rackMonitor .control-section+svg {
    display: none
  }