<app-panel-dashboard title="Events" style="background: #18567a !important;">
    <!-- 

   
 
    <span tablePanelPaginator class="ml-2 d-inline-block" *ngIf="dataSource && dataSource.data.length">
        <a (click)="prevPage()" id="btn_prev" class="btn btn-xs btn-icon btn-square btn-white pageButton"><i class="fas fa-caret-left"></i></a>&nbsp;
        <span id="page"> {{current_page}} / {{totalNumberOfPages}}</span>
        &nbsp;<a (click)="nextPage()" id="btn_next" class="btn btn-xs btn-icon btn-square btn-white pageButton"><i class="fas fa-caret-square-right"></i></a>

    </span> -->
    <span download class="ml-2 d-inline-block" *ngIf="dataSource && dataSource.data.length">
        <app-export-files-to (exportedTo)="downloadFile($event)"></app-export-files-to>
    </span>
    <span refresh> &nbsp;
        <a href="javascript:;" i18n-matTooltip="MatTooltip|click to reload info@@clickToReloadInfo"
            matTooltip="click to reload info" class="btn btn-xs btn-icon btn-circle btn-default" (click)="reloadData()">
            <i class="fa fa-redo"></i></a>
    </span>


    <div class="position-relative">

        <div class="ps scrollMargin  alarmTable position-relative"
            [ngClass]="{'firstLeveltabTable':this.dataSource.filteredData.length!=0}" appScrollbarDirective
            *ngIf="dataSource && dataSource.data.length">
            <ng-container *ngTemplateOutlet="matTableForEvent"></ng-container>
        </div>

        <div class="table-responsive" *ngIf="!dataSource || !dataSource.data.length">
            <ng-container *ngTemplateOutlet="matTableForEvent"></ng-container>
        </div>

        <!-- Loader image  -->
        <div *ngIf="showLoaderImage" class="col-lg-12" style="margin-left:0%; margin-top:0%;margin-bottom:0%;"
            align="center">
            <img src="/assets/img/dashboard/ProgressLoader.gif" height="auto" width="50%" alt="Loading........">
        </div>
        <h3 i18n="No records found text|No records found@@noRecordsFound"
            *ngIf="noRerocrdFound || (dataSource && !dataSource.filteredData.length && !showLoaderImage)"
            class="text-center noRecordsFound">
            No records found!
        </h3>
        <mat-paginator [hidden]="noRerocrdFound" #myPaginator [length]="dataSource && dataSource.data.length"
        [pageSize]="pageSize" [pageSizeOptions]="[100, 500, 1000, 5000]" showFirstLastButtons
        *ngIf="!pagination"></mat-paginator>
    <mat-paginator [hidden]="noRerocrdFound" #myPaginator [length]="dataSource && dataSource.data.length"
        [pageSize]="pageSize" [pageSizeOptions]="[10]" showFirstLastButtons *ngIf="pagination">
    </mat-paginator>
    </div>
    <ng-template #matTableForEvent>
        <table mat-table [dataSource]="dataSource" class="table table-striped table-bordered" matSort>

            <ng-container matColumnDef="entityTypeName">
                <th class="w-15" i18n="Table|Asset@@asset" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Asset
                </th>
                <td mat-cell *matCellDef="let element"> {{element.entityTypeName}} </td>
            </ng-container>

            <ng-container matColumnDef="entityName">
                <th class="w-9" i18n="Table|Event Entity@@entityName" mat-header-cell *matHeaderCellDef
                    mat-sort-header>
                    Event Entity</th>
                <td mat-cell *matCellDef="let element"> {{element.entityName}} </td>
            </ng-container>


            <ng-container matColumnDef="eventDateTime">
                <th class="w-10" i18n="Table|Event Time@@eventTime" mat-header-cell *matHeaderCellDef
                    mat-sort-header>Event Time
                </th>
                <td mat-cell class="wordStyle" *matCellDef="let element"> {{element.eventDateTime}}
                </td>
            </ng-container>

            <ng-container matColumnDef="alarmTypeName">
                <th class="w-12" i18n="Table|Event Type@@eventType" mat-header-cell *matHeaderCellDef
                    mat-sort-header>Event
                    Type</th>
                <td mat-cell *matCellDef="let element"> {{element.alarmTypeName}} </td>
            </ng-container>

            <ng-container matColumnDef="eventDataValue">
                <th class="w-12" i18n="Table|Event Value@@eventValue" mat-header-cell *matHeaderCellDef
                    mat-sort-header>Event
                    Value</th>
                <td mat-cell *matCellDef="let element"> {{element.eventDataValue}} </td>
            </ng-container>

            <ng-container matColumnDef="alarmStateName">
                <th class="w-12" i18n="Table|Event State@@eventState" mat-header-cell *matHeaderCellDef
                    mat-sort-header>
                    Event State</th>
                <td mat-cell *matCellDef="let element"> {{element.alarmStateName}} </td>
            </ng-container>


            <ng-container matColumnDef="alarmSeverityName">
                <th class="w-8" i18n="Table|Severity@@severity" mat-header-cell *matHeaderCellDef
                    mat-sort-header>Severity
                </th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{
                    'background-color': element.colorCode }"> {{element.alarmSeverityName}} </td>
            </ng-container>




            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </ng-template>


</app-panel-dashboard>
<!-- <app-modal-notification (modelNotificationWarningAlarm)="sendStateEvent($event)"
     (modelNotificationSuccess)="refreshTableListFunction()"></app-modal-notification> -->