<div class="row" style="margin: 0px 10px 0px 0px;">
    <ng-container *ngFor="let card of aqua">
        <div class="col-md-6 mb-2 h-116 cardPadding" *ngIf="card.tagName == 'Temperature'">
            <app-rack-nge-card [styling]="card.STL" [icon]="card.ICN" [params]="" [title]="card.TL" [DC]="card.DC"
                [FS]="card.FS" [tagId]="card.tagId" [tagName]="card.tagName">
            </app-rack-nge-card>
        </div>
    </ng-container>
    <ng-container *ngFor="let card of aqua">
        <div class="col-md-6 mb-2 h-116 cardPadding" *ngIf="card.tagName == 'Humidity'">
            <app-rack-nge-card [styling]="card.STL" [icon]="card.ICN" [params]="" [title]="card.TL" [DC]="card.DC"
                [FS]="card.FS" [tagId]="card.tagId" [tagName]="card.tagName">
            </app-rack-nge-card>
        </div>
    </ng-container>
    <ng-container *ngFor="let card of aqua">
        <div class="col-md-6 mb-2 h-116 cardPadding" *ngIf="card.tagName == 'Temperature 3'">
            <app-rack-nge-card [styling]="card.STL" [icon]="card.ICN" [params]="" [title]="card.TL" [DC]="card.DC"
                [FS]="card.FS" [tagId]="card.tagId" [tagName]="card.tagName">
            </app-rack-nge-card>
        </div>
    </ng-container>
    <ng-container *ngFor="let card of aqua">
        <div class="col-md-6 mb-2 h-116 cardPadding" *ngIf="card.tagName == 'Humidity 3'">
            <app-rack-nge-card [styling]="card.STL" [icon]="card.ICN" [params]="" [title]="card.TL" [DC]="card.DC"
                [FS]="card.FS" [tagId]="card.tagId" [tagName]="card.tagName">
            </app-rack-nge-card>
        </div>
    </ng-container>
    <ng-container *ngFor="let card of aqua">
        <div class="col-md-6 mb-2 h-116 cardPadding" *ngIf="card.tagName == 'Temperature 2'">
            <app-rack-nge-card [styling]="card.STL" [icon]="card.ICN" [params]="" [title]="card.TL" [DC]="card.DC"
                [FS]="card.FS" [tagId]="card.tagId" [tagName]="card.tagName">
            </app-rack-nge-card>
        </div>
    </ng-container>
    <ng-container *ngFor="let card of aqua">
        <div class="col-md-6 mb-2 h-116 cardPadding" *ngIf="card.tagName == 'Humidity 2'">
            <app-rack-nge-card [styling]="card.STL" [icon]="card.ICN" [params]="" [title]="card.TL" [DC]="card.DC"
                [FS]="card.FS" [tagId]="card.tagId" [tagName]="card.tagName">
            </app-rack-nge-card>
        </div>
    </ng-container>
    <ng-container *ngFor="let card of aqua">
        <div class="col-md-6 mb-2 h-116 cardPadding" *ngIf="card.tagName == 'Temperature 1'">
            <app-rack-nge-card [styling]="card.STL" [icon]="card.ICN" [params]="" [title]="card.TL" [DC]="card.DC"
                [FS]="card.FS" [tagId]="card.tagId" [tagName]="card.tagName">
            </app-rack-nge-card>
        </div>
    </ng-container>
    <ng-container *ngFor="let card of aqua">
        <div class="col-md-6 mb-2 h-116 cardPadding" *ngIf="card.tagName == 'Humidity 1'">
            <app-rack-nge-card [styling]="card.STL" [icon]="card.ICN" [params]="" [title]="card.TL" [DC]="card.DC"
                [FS]="card.FS" [tagId]="card.tagId" [tagName]="card.tagName">
            </app-rack-nge-card>
        </div>
    </ng-container>
    
    <ng-container *ngFor="let card of aqua">
        <div class="col-md-6 mb-2 h-116 cardPadding" *ngIf="card.tagName == 'Door Status'">
            <app-rack-nge-card [styling]="card.STL" [icon]="card.ICN" [params]="" [title]="card.TL" [DC]="card.DC"
                [FS]="card.FS" [tagId]="card.tagId" [tagName]="card.tagName">
            </app-rack-nge-card>
        </div>
    </ng-container>
    <ng-container *ngFor="let card of aqua">
        <div class="col-md-6 mb-2 h-116 cardPadding" *ngIf="card.tagName == 'Water Leakage'">
            <app-rack-nge-card [styling]="card.STL" [icon]="card.ICN" [params]="" [title]="card.TL" [DC]="card.DC"
                [FS]="card.FS" [tagId]="card.tagId" [tagName]="card.tagName">
            </app-rack-nge-card>
        </div>
    </ng-container>
    <ng-container *ngFor="let card of aqua">
        <div class="col-md-6 mb-2 h-116 cardPadding" *ngIf="card.tagName == 'PDU1 Power'">
            <app-rack-nge-card [styling]="card.STL" [icon]="card.ICN" [params]="" [title]="card.TL" [DC]="card.DC"
                [FS]="card.FS" [tagId]="card.tagId" [tagName]="card.tagName">
            </app-rack-nge-card>
        </div>
    </ng-container>
    <ng-container *ngFor="let card of aqua">
        <div class="col-md-6 mb-2 h-116 cardPadding" *ngIf="card.tagName == 'PDU2 Power'">
            <app-rack-nge-card [styling]="card.STL" [icon]="card.ICN" [params]="" [title]="card.TL" [DC]="card.DC"
                [FS]="card.FS" [tagId]="card.tagId" [tagName]="card.tagName">
            </app-rack-nge-card>
        </div>
    </ng-container>
    <ng-container *ngFor="let card of aqua">
        <div class="col-md-6 mb-2 h-116 cardPadding" *ngIf="card.tagName == 'Battery Status'">
            <app-rack-nge-card [styling]="card.STL" [icon]="card.ICN" [params]="" [title]="card.TL" [DC]="card.DC"
                [FS]="card.FS" [tagId]="card.tagId" [tagName]="card.tagName">
            </app-rack-nge-card>
        </div>
    </ng-container>
    <ng-container *ngFor="let card of aqua">
        <div class="col-md-6 mb-2 h-116 cardPadding" *ngIf="card.tagName == 'Gateway Power'">
            <app-rack-nge-card [styling]="card.STL" [icon]="card.ICN" [params]="" [title]="card.TL" [DC]="card.DC"
                [FS]="card.FS" [tagId]="card.tagId" [tagName]="card.tagName">
            </app-rack-nge-card>
        </div>
    </ng-container>
</div>

<!-- <div class="col-md-6 ">
    <div class="row">
        <div class="col-md-12 mb-2 h-116" *ngFor="let card of aqua">
            <app-rack-nge-card [styling]="card.STL" [icon]="card.ICN" [params]="" [title]="card.TL" [DC]="card.DC"
                [FS]="card.FS" [tagId]="card.tagId" [tagName]="card.tagName">
            </app-rack-nge-card>
        </div>

    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 mb-2 pl-0 h-116" *ngFor="let card of green">
                <app-rack-nge-card [styling]="card.STL" [icon]="card.ICN" [params]="" [title]="card.TL" [DC]="card.DC"
                    [FS]="card.FS" [tagId]="card.tagId" [tagName]="card.tagName">
                </app-rack-nge-card>
            </div>
        </div>

</div> -->
