<div [formGroup]="widgetFrom" class="user">
    <input type="hidden" id="ST_ID" class="form-control" />
    <input type="hidden" id="WT_ID" class="form-control" />
    <input type="hidden" id="TL_ID" class="form-control" />
    <input type="hidden" id="STL_ID" class="form-control" />
    <input type="hidden" id="CC_ID" class="form-control" />
    <input type="hidden" id="WD_ID" class="form-control" />
    <input type="hidden" id="ROW_ID" class="form-control" />
    <input type="hidden" id="POS_ID" class="form-control" />
    <input type="hidden" id="POSY_ID" class="form-control" />
    <input type="hidden" id="DS_ID" class="form-control" />
    <input type="hidden" id="ICN_ID" class="form-control" />
    <input type="hidden" id="RI_ID" class="form-control" />
    <input type="hidden" id="FS_ID" class="form-control" />
    <div class="form-group m-form__group row whiteColor">
        <div class="col-lg-4">
            <label i18n="Title|Title@@title*" class=" m-input-icon m-input-icon--right">
                Title<span class="text-danger">*</span></label>
        </div>
        <div class="col-lg-8">
            <div
                [ngClass]="{'has-error': ((widgetFrom.get('TL').touched || widgetFrom.get('TL').dirty) && widgetFrom.get('TL').errors)}">
                <input type="text" id="title" class="form-control" formControlName="TL" />
                <span style=" margin-top: 0;" class="help-block"
                    *ngIf="((widgetFrom.get('TL').touched || widgetFrom.get('TL').dirty) && widgetFrom.get('TL').errors)">
                    <span i18n="Message|Please Enter Title@@title.message"
                        *ngIf="( widgetFrom.get('TL').errors.required ||  widgetFrom.get('TL').errors.whitespace)">
                        Please Enter Title
                    </span>
                    <span i18n="Message|Please Enter valid Characters@@title.message2"
                        *ngIf="(widgetFrom.get('TL').errors.pattern)">
                        Please Enter valid Characters
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group m-form__group row whiteColor">
        <div class="col-lg-4">
            <label i18n="Font Size|Font Size@@fontSize" class=" m-input-icon m-input-icon--right"> Font Size </label>
        </div>
        <div class="col-lg-8">
            <input type="text" id="fontSize" class="form-control" formControlName="FS" />
            <span style=" margin-top: 0;" class="help-block"
                *ngIf="((widgetFrom.get('FS').touched || widgetFrom.get('FS').dirty) && widgetFrom.get('FS').errors)">
                <span i18n="Message|Font can not be more than 30px@@fontSize.message" *ngIf="( widgetFrom.get('FS').errors.max)">
                    Font can not be more than 30px
                </span>
            </span>
        </div>
    </div>


    <div class="form-group m-form__group row">
        <div class="col-lg-4 whiteColor">
            <label i18n="Width|Width@@width*" class=" m-input-icon m-input-icon--right">
                Width<span class="text-danger">*</span>
            </label>
        </div>
        <div class="col-lg-8 whiteColor">
            <div
                [ngClass]="{'has-error': ((widgetFrom.get('WD').touched || widgetFrom.get('WD').dirty) && widgetFrom.get('WD').errors)}">

                <input type="text" id="width" class="form-control" formControlName="WD" />
                <span style=" margin-top: 0;" class="help-block"
                    *ngIf="((widgetFrom.get('WD').touched || widgetFrom.get('WD').dirty) && widgetFrom.get('WD').errors)">
                    <span i18n="Message|Please Selete Width@@width.message"
                        *ngIf="( widgetFrom.get('WD').errors.required ||  widgetFrom.get('WD').errors.whitespace)">
                        Please Select Width
                    </span>
                    <span i18n="Message|Please enter only Numbers@@WD.message2"
                        *ngIf="widgetFrom.get('WD').errors.pattern">
                        Please Enter only Numbers
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <div class="col-lg-4 whiteColor">
            <label i18n="Height|Height@@height*" class=" m-input-icon m-input-icon--right">
                Height<span class="text-danger">*</span>
            </label>
        </div>
        <div class="col-lg-8 whiteColor">
            <div
                [ngClass]="{'has-error': ((widgetFrom.get('ROW').touched || widgetFrom.get('ROW').dirty) && widgetFrom.get('ROW').errors)}">

                <input type="text" id="ROW" class="form-control" formControlName="ROW" />
                <span style=" margin-top: 0;" class="help-block"
                    *ngIf="((widgetFrom.get('ROW').touched || widgetFrom.get('ROW').dirty) && widgetFrom.get('ROW').errors)">
                    <span i18n="Message|Please Selete Height@@height.message"
                        *ngIf="( widgetFrom.get('ROW').errors.required ||  widgetFrom.get('ROW').errors.whitespace)">
                        Please Select Height
                    </span>
                    <span i18n="Message|Please enter only Numbers@@ROW.message2"
                        *ngIf="widgetFrom.get('ROW').errors.pattern">
                        Please Enter only Numbers
                    </span>
                </span>
            </div>
        </div>
    </div>



    <div class="form-group m-form__group row">
        <div class="col-lg-4 whiteColor">
            <label i18n="Refresh Interval (in Sec)|Refresh Interval (in Sec)@@RefreshIntervalinSec" class=" m-input-icon m-input-icon--right"> Refresh Interval (in Sec) </label>
        </div>
        <div class="col-lg-8">
            <div
            [ngClass]="{'has-error': ((widgetFrom.get('RI').touched || widgetFrom.get('RI').dirty) && widgetFrom.get('RI').errors)}">

            <input type="text" class="form-control" formControlName="RI" id="widgetResfreshInterval" />
            <span style=" margin-top: 0;" class="help-block"
                *ngIf="((widgetFrom.get('RI').touched || widgetFrom.get('RI').dirty) && widgetFrom.get('RI').errors)">

                <span i18n="Message|Please enter only Numbers@@ROW.message2"
                    *ngIf="widgetFrom.get('RI').errors.pattern">
                    Please Enter only Numbers
                </span>
            </span>
        </div>
        </div>
    </div>
    <div class="form-group m-form__group row" id="status">
        <div class="col-lg-4">
            <label i18n="IsActive|is-Active@@isActive?" class=" m-input-icon m-input-icon--right">is-Active</label>
        </div>
        <div class="col-lg-8">
            <input type="checkbox" id="Status" formControlName="ST" />
        </div>
    </div>


    <div class="form-group m-form__group row">
        <div class="col-lg-12">
            <label i18n="Data Source|Data Source@@dataSource*" class=" m-input-icon m-input-icon--right">
                Data Source<span class="text-danger">*</span>
            </label>
        </div>
        <div class="col-lg-12">
            <div
                [ngClass]="{'has-error': ((widgetFrom.get('DS').touched || widgetFrom.get('DS').dirty) && widgetFrom.get('DS').errors)}">
                <select id="data_source" class="form-control" formControlName="DS"
                    (change)="dataSourceChange($event.target.value)">
                    <option value="" i18n="Option|Select@@select">--Select--</option>
                    <option *ngFor="let dataSource of dataSourceList" [value]="dataSource.id">{{dataSource.name}}
                    </option>
                </select>
                <span style=" margin-top: 0;" class="help-block"
                    *ngIf="((widgetFrom.get('DS').touched || widgetFrom.get('DS').dirty) && widgetFrom.get('DS').errors)">
                    <span i18n="Message|Please Select Data Source@@dataSource.message"
                        *ngIf="( widgetFrom.get('DS').errors.required ||  widgetFrom.get('DS').errors.whitespace)">
                        Please Select Data Source
                    </span>
                </span>
            </div>
        </div>
    </div>

    <div *ngIf="dsSelected">
        <div formArrayName="dsInputParams"
            *ngFor="let dsInputParam of widgetFrom.get('dsInputParams')['controls']; let i=index;">
            <div class="form-group" [formGroupName]="i" *ngIf="inputParams[i]?.dataTypeId == 1">
                <div class="form-group m-form__group row">
                    <div class="col-lg-12">
                        <label class=" m-input-icon m-input-icon--right">{{inputParams[i]?.name}}</label>
                    </div>
                    <div class="col-lg-12">
                        <input type="hidden" formControlName="analyticDataServiceInputParamId"
                            [ngModel]="inputParams[i]?.id">
                        <input type="text" formControlName="value" class="form-control" id="data"
                        i18n-placeholder="Placeholder|Enter Value@@vale.placeholder"  placeholder="Enter Value" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>